{
  "openapi": "3.0.0",
  "info": {
    "title": "API REST de MonyMonty",
    "version": "1.0.0",
    "description": "plataforma diseñada para la administración financiera personal"
  },
  "servers": [
    {
      "url": "https://api.monteflor.co/",
      "description": "Servidor principal"
    },
    {
      "url": " http://localhost:3000",
      "description": "Servidor de desarrollo local"
    }
  ],
  "paths": {
    "/auth/check": {
      "get": {
        "summary": "Verifica el estado de autenticación del usuario",
        "description": "Comprueba si el usuario tiene una sesión activa",
        "200": {
          "description": "Respuesta indicando si el usuario está autenticado",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "authenticated": {
                    "type": "boolean",
                    "description": "Indica si el usuario está autenticado"
                  },
                  "message": {
                    "type": "string",
                    "description": "Mensaje descriptivo sobre el estado de autenticación"
                  },
                  "token": {
                    "type": "string",
                    "description": "Token JWT si el usuario está autenticado",
                    "nullable": true
                  }
                },
                "required": ["authenticated", "message"]
              },
              "examples": {
                "notAuthenticated": {
                  "summary": "Usuario no autenticado",
                  "value": {
                    "authenticated": false,
                    "message": "Not authenticated"
                  }
                },
                "authenticated": {
                  "summary": "Usuario autenticado correctamente",
                  "value": {
                    "authenticated": true,
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "description": "autentica un usuario con su email y password",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/auth/google": {
      "get": {
        "description": "autentica un usuario mediante tercero Google",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/auth/google/callback": {
      "get": {
        "description": "autentica un usuario mediante tercero Google, con callback que maneja respuesta",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/auth/github": {
      "get": {
        "description": "autentica un usuario mediante tercero Github",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/auth/github/callback": {
      "get": {
        "description": "autentica un usuario mediante tercero Github, con callback que maneja respuesta",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/auth/discord": {
      "get": {
        "description": "autentica un usuario mediante tercero Discord",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/auth/discord/callback": {
      "get": {
        "description": "autentica un usuario mediante tercero Discord, con callback que maneja respuesta",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/auth/logout": {
      "get": {
        "description": "cierra sesión de usuario",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/user/": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/user/{id}": {
      "get": {
        "description": "obtiene la info de un usuario por su id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "put": {
        "description": "actualiza un usuario por su id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "delete": {
        "description": "borra un usuario a través de su id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/auth/": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/movimiento/": {
      "get": {
        "description": "obtiene todos los movimientos/tranferencias",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "description": "guarda un movimiento",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/movimiento/user/{id}": {
      "get": {
        "description": "obtiene todos los movimientos de un usuario por su id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/movimiento/{id}": {
      "get": {
        "description": "obtiene un movimiento por su id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "put": {
        "description": "modifica un movimiento",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "delete": {
        "description": "borra un movimiento",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    }
  }
}